[project]
	description = ?????push??????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SOFTNET (softnet1973)
[access "refs/for/refs/*"]
	read = group user/SOFTNET (softnet1973)
	push = group user/SOFTNET (softnet1973)
	label-Code-Review = -2..+2 group user/SOFTNET (softnet1973)
	label-Verified = -1..+1 group user/SOFTNET (softnet1973)
	rebase = group user/SOFTNET (softnet1973)
	removeReviewer = group user/SOFTNET (softnet1973)
	submit = group user/SOFTNET (softnet1973)
[access "refs/heads/*"]
	read = group user/SOFTNET (softnet1973)
	create = group user/SOFTNET (softnet1973)
	push = +force group user/SOFTNET (softnet1973)
	pushMerge = group user/SOFTNET (softnet1973)
[access "refs/tags/*"]
	push = group user/SOFTNET (softnet1973)
	push = +force group user/SOFTNET (softnet1973)
